<%
  before_generate do |page|
    page.set_viewport(
      width: params.fetch(:Width, 57).to_i,
      height: params.fetch(:Height, 32).to_i,
    )
  end
%>
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Label</title>
  <style>
      * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          -webkit-font-smoothing: none;
          -moz-osx-font-smoothing: grayscale;
          font-smooth: never;
          text-rendering: optimizeSpeed;
      }

      body {
          margin: 0;
          padding: 0;
          font-family: Helvetica, Arial, sans-serif;
          image-rendering: -webkit-optimize-contrast;
          image-rendering: -moz-crisp-edges;
          image-rendering: pixelated;
      }

      .label {
          width: <%= params[:Width] || 57 %>mm;
          height: <%= params[:Height] || 32 %>mm;
          padding: <%= params[:Margin] || 2.5 %>mm;
          border: 1px solid black;
          display: flex;
          align-items: center;
          position: relative;
      }

      .qr-container {
          width: 40%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
      }

      .qr-code {
          max-width: 100%;
          max-height: 100%;
          width: auto;
          height: auto;
          image-rendering: -webkit-optimize-contrast;
          image-rendering: -moz-crisp-edges;
          image-rendering: pixelated;
      }

      .text-container {
          width: 60%;
          height: 100%;
          padding-left: 2mm;
          display: flex;
          flex-direction: column;
          justify-content: start;
          overflow: hidden;
      }

      .text-line {
          font-size: 3.5mm;
          line-height: 1.2;
          overflow-wrap: break-word;
          display: flex;
          align-items: flex-start;
      }

      .text-line:first-child {
          font-weight: bold;
      }

      @page {
          size: <%= params[:Width] || 57 %>mm <%= params[:Height] || 32 %>mm;
          margin: 0;
      }

      .label {
          border: none;
          width: <%= params[:Width] || 57 %>mm;
          height: <%= params[:Height]|| 32 %>mm;
          page-break-inside: avoid;
          page-break-after: always;
      }
  </style>
</head>
<body>
<div class="label">
  <div class="qr-container">
    <%= qr_svg(params[:URL] || '') %>
  </div>
  <div class="text-container">
    <div class="text-line"><%= nl2br(h(params[:TitleText] || '')) %></div>
    <div class="text-line"><%= nl2br(h(params[:DescriptionText] || '')) %></div>
  </div>
</div>
</body>
</html>